<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="egovframework.com.survey.mapper.SurveyMapper">
	<select id="getSurveyList" resultType = "egovframework.com.survey.vo.SurveyVo">
		SELECT @rownum:=@rownum+1 					AS num
				 , a.survey_idx
				 , (
				    SELECT count(*) 
				      FROM survey_opinion 
				     WHERE survey_idx = a.survey_idx
				   ) AS opinion_count
				 , (
				    SELECT count(*) 
				      FROM survey_participation 
				     WHERE survey_idx = a.survey_idx
				   ) AS participation_count
				 , a.title
				 , a.content
				 , DATE_FORMAT(a.s_date, '%Y-%m-%d') 		AS s_date
				 , DATE_FORMAT(a.e_date, '%Y-%m-%d') 		AS e_date
				 , a.survey_type
				 , a.create_user
				 , DATE_FORMAT(a.create_date, '%Y-%m-%d') AS create_date
				 <![CDATA[
				 , case when e_date < SYSDATE() then '투표완료'
					  when s_date > SYSDATE() then '투표전'
	 	              when e_date > SYSDATE() and SYSDATE() > s_date then '투표중'
	 	         ]]>
	             end as ing	
			  FROM daul.survey_main a
			     , (SELECT @rownum:=0) TMP
	</select>
	
	<select id = "getSurveyDetail" resultType="egovframework.com.survey.vo.SurveyVo">
		SELECT   a.survey_idx
				 , (
				    SELECT count(*) 
				      FROM survey_opinion 
				     WHERE survey_idx = a.survey_idx
				   ) AS opinion_count
				 , (
				    SELECT count(*) 
				      FROM survey_participation 
				     WHERE survey_idx = a.survey_idx
				   ) AS participation_count
				 , a.title
				 , a.content
				 , DATE_FORMAT(a.s_date, '%Y-%m-%d') 		AS s_date
				 , DATE_FORMAT(a.e_date, '%Y-%m-%d') 		AS e_date
				 , a.survey_type
				 , a.create_user
				 , DATE_FORMAT(a.create_date, '%Y-%m-%d') AS create_date
				 <![CDATA[
				 , case when e_date < SYSDATE() then '투표완료'
					  when s_date > SYSDATE() then '투표전'
	 	              when e_date > SYSDATE() and SYSDATE() > s_date then '투표중'
	 	         ]]>
	             end as ing	
		    FROM daul.survey_main a	
		   WHERE a.survey_idx = #{survey_idx} 
	</select>
	
	<select id = "getSurveyOpinionList" resultType="map">
			SELECT * 
			  FROM (		
				SELECT @rownum:=@rownum+1 								AS num
					 , so.opinion_idx
					 , so.survey_idx									AS idx
					 , so.opinion_content
					 , so.create_user
					 , so.update_user
					 , DATE_FORMAT(so.create_date, '%Y-%m-%d %H:%i') 	AS create_date
					 , DATE_FORMAT(so.update_date, '%Y-%m-%d %H:%i') 	AS update_date
					 , so.del_chk
					 , so.survey_ref									AS ref
					 , so.survey_indent									AS indent
				     , u.auth_type 
				     , u.name
				  FROM daul.survey_opinion so
				  LEFT JOIN daul.user u ON so.create_user = u.user_id 
				 INNER JOIN (SELECT @rownum:=0) TMP
				 <!-- WHERE so.del_chk != 'Y' --> 
				 WHERE so.survey_idx = #{survey_idx}
				 ORDER BY so.survey_ref
				        , so.survey_step DESC
				) sub
			ORDER BY sub.num DESC;
	</select>

	<select id="getSurveyQuestionList" resultType="Map">
		SELECT 
			question_idx,
			question_content,
			q_seq,
			ref,
			type,
			select_type
		FROM daul.survey_question
		WHERE survey_idx = #{survey_idx}
		ORDER BY ref , question_idx ;
	</select>
	
	<insert id="insertVote" parameterType = "hashmap">
		INSERT INTO daul.survey_participation 
		(
			question_idx,
			survey_idx,
			participation_user,
			create_date
		)
		VALUES
		(
			#{question_idx},
			#{survey_idx},
			#{participation_user},
			sysdate()
		)
	</insert>
	
	<select id="getSurveyResult" resultType="Map">
		SELECT a.question_idx, a.question_content, count(b.question_idx) as question_count, a.type, a.ref
		  FROM survey_question a
		  LEFT JOIN survey_participation b 
		    ON a.question_idx = b.question_idx
		 WHERE a.survey_idx = #{survey_idx}
		 GROUP BY a.question_content,a.question_idx 
		 ORDER BY question_idx
	</select>
	
	<select id="selectParentSurveyOpinion" resultType="egovframework.com.survey.vo.SurveyOpinionVo">
		SELECT survey_ref
		     , survey_indent
		     , survey_step
		  FROM daul.survey_opinion
		 WHERE opinion_idx = #{opinion_idx}
	</select>
	
	<update id="updateChildSurveyOpinion">
		UPDATE daul.survey_opinion
		   SET survey_step = survey_step + 1
		 WHERE survey_ref = #{survey_ref}
		   <![CDATA[
		   AND survey_step > #{survey_step}
		   ]]>
	</update>
	
	<select id="selectSurveyOpinionIdx" resultType="String">
		SELECT CONCAT('SV-OP-',LPAD(count(*)+1,'6','0')) as 'opinion_idx'
		FROM daul.survey_opinion 
	</select>
	
	<insert id="insertSurveyOpinion">
		INSERT INTO daul.survey_opinion
		     (
		       opinion_idx
             , survey_idx
             , opinion_content
             , create_user
             , create_date
             , del_chk
             , survey_ref
             , survey_indent
             , survey_step
		     )
		VALUES
		     (
		       #{opinion_idx}
             , #{survey_idx}
             , #{opinion_content}
             , #{create_user}
             , SYSDATE()
             , 'N'
             , #{survey_ref}
             , #{survey_indent}
             , #{survey_step}
		     )
	</insert>
	
	<update id="deleteSurveyOpinion">
		UPDATE daul.survey_opinion
		   SET del_chk = 'Y'
		 WHERE opinion_idx = #{opinion_idx}
	</update>
	
	<select id="selectSurveyOpinionCount" resultType="String">
		SELECT COUNT(*)
		  FROM daul.survey_opinion
		 WHERE survey_idx = #{survey_idx}
	</select>
</mapper>                  