<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="egovframework.com.contest.mapper.ContestMapper">

	<select id="selectUserContestIdx" resultType="String">
		SELECT
		CONCAT('UC-',LPAD(count(*)+1,'6','0')) as 'user_contest_idx'
		FROM
		contest_user
	</select>
	<select id="getContestListCnt" resultType="int">
		SELECT COUNT(*)
		FROM daul.contest_admin a
		WHERE del_chk != 'Y'
		<if test="search_type == 'title'">
			AND title like concat('%',#{search},'%')
		</if>
		<if test="search_type == 'content'">
			AND content like concat('%',#{search},'%')
		</if>
		<if test="search_type == 'create_user'">
			AND create_user like concat('%',#{search},'%')
		</if>
		<if test="search_s_date != null and search_s_date != ''">
			 	 	<![CDATA[
			     	AND create_date >= date_format(concat(#{search_s_date}, ' 00:00:00'), '%Y-%m-%d %H:%i:%s:%s')
			     	]]>
		</if>
		<if test="search_e_date != null and search_e_date != ''">
			 	 	<![CDATA[
			     	AND create_date <= date_format(concat(#{search_e_date}, ' 23:59:59'), '%Y-%m-%d %H:%i:%s:%s')
			     	]]>
		</if>
	</select>

	<select id="getContestList"
		resultType="egovframework.com.contest.vo.ContestVo">
		SELECT *
		FROM (
		SELECT @rownum:=@rownum+1 AS num,
		(
		SELECT count(*)
		FROM contest_user
		WHERE admin_contest_idx = a.admin_contest_idx
		) AS user_contest_cnt,
		admin_contest_idx,
		create_user,
		title,
		content,
		DATE_FORMAT(contest_s_date, '%Y-%m-%d %H:%i:%s') AS contest_s_date,
		DATE_FORMAT(contest_e_date, '%Y-%m-%d %H:%i:%s') AS contest_e_date,
		DATE_FORMAT(submit_s_date, '%Y-%m-%d %H:%i:%s') AS submit_s_date,
		DATE_FORMAT(submit_e_date, '%Y-%m-%d %H:%i:%s') AS submit_e_date,
		DATE_FORMAT(create_date, '%Y-%m-%d %H:%i:%s') AS create_date,
					   <![CDATA[
						case when contest_e_date < SYSDATE() then '공모종료'
							 when contest_s_date > SYSDATE() then '공모전'
			 	             when contest_e_date > SYSDATE() and SYSDATE() > contest_s_date then '공모진행중'
			 	       ]]>
		end as ing
		FROM daul.contest_admin a
		, (SELECT @rownum:=0) TMP
		WHERE del_chk != 'Y'
		<if test="search_type == 'title'">
			AND title like concat('%',#{search},'%')
		</if>
		<if test="search_type == 'content'">
			AND content like concat('%',#{search},'%')
		</if>
		<if test="search_type == 'create_user'">
			AND create_user like concat('%',#{search},'%')
		</if>
		<if test="search_s_date != null and search_s_date != ''">
			 	 	<![CDATA[
			     	AND create_date >= date_format(concat(#{search_s_date}, ' 00:00:00'), '%Y-%m-%d %H:%i:%s:%s')
			     	]]>
		</if>
		<if test="search_e_date != null and search_e_date != ''">
			 	 	<![CDATA[
			     	AND create_date <= date_format(concat(#{search_e_date}, ' 23:59:59'), '%Y-%m-%d %H:%i:%s:%s')
			     	]]>
		</if>
		ORDER BY create_date ASC
		) sub
		<if
			test="@egovframework.com.cmmn.util.StringUtil@equals(order, '1')">
			ORDER BY sub.num DESC
		</if>
		<if
			test="@egovframework.com.cmmn.util.StringUtil@equals(order, '2')">
			ORDER BY user_contest_cnt DESC ,sub.num DESC
		</if>
		LIMIT #{startIndex},#{pageSize}
	</select>

	<select id="getAdminContest"
		resultType="egovframework.com.contest.vo.ContestVo">
		SELECT admin_contest_idx
		, title
		, content
		, DATE_FORMAT(contest_s_date, '%Y-%m-%d %H:%i:%s') as contest_s_date
		, DATE_FORMAT(contest_e_date, '%Y-%m-%d %H:%i:%s') as contest_e_date
		, DATE_FORMAT(submit_s_date, '%Y-%m-%d %H:%i:%s') as submit_s_date
		, DATE_FORMAT(submit_e_date, '%Y-%m-%d %H:%i:%s') as submit_e_date
		, DATE_FORMAT(create_date, '%Y-%m-%d %H:%i:%s') as create_date
		, create_user
		     <![CDATA[
		  	 ,case when contest_e_date < SYSDATE() then '공모종료'
	      	 	   when contest_s_date > SYSDATE() then '공모전'
 	               when contest_e_date > SYSDATE() and SYSDATE() > contest_s_date then '공모진행중'
 	         ]]>
		end as ing
		FROM daul.contest_admin
		WHERE admin_contest_idx = #{admin_contest_idx}
	</select>

	<select id="selectContestFile" resultType="Map">
		SELECT
		admin_contest_idx,
		org_file_name,
		save_file_name,
		attach_type,
		ROUND(file_size/1024,1) AS file_size
		FROM daul.contest_admin_attach
		WHERE admin_contest_idx =
		#{admin_contest_idx}
		AND del_chk = 'N'
	</select>

	<select id="selectUserFileList" resultType="Map">
		SELECT
		user_contest_idx,
		org_file_name,
		save_file_name,
		attach_type,
		ROUND(file_size/1024,1) AS file_size
		FROM daul.contest_user_attach
		WHERE user_contest_idx =
		#{user_contest_idx}
		AND del_chk = 'N'
	</select>

	<select id="selectDownloadFile"
		resultType="egovframework.com.cmmn.util.FileVo">
		SELECT
		ORG_FILE_NAME,
		SAVE_FILE_NAME
		FROM daul.contest_admin_attach
		WHERE save_file_name = #{idx}
	</select>

	<insert id="insertFile">
		INSERT INTO contest_user_attach
		(
		user_contest_idx
		, org_file_name
		, save_file_name
		, file_size
		, create_user
		, del_chk
		, create_date
		, attach_type
		)
		VALUES
		(
		#{idx}
		, #{org_file_name}
		, #{save_file_name}
		, #{file_size}
		, #{create_user}
		, 'N'
		, SYSDATE()
		, #{attach_type}
		)
	</insert>

	<insert id="registUserContest">
		INSERT INTO contest_user
		(
		user_contest_idx,
		admin_contest_idx,
		title,
		content,
		create_user,
		create_date,
		del_chk
		)
		VALUES
		(
		#{user_contest_idx},
		#{admin_contest_idx},
		#{user_title},
		'공모제안입니다.',
		#{create_user},
		sysdate(),
		'N'
		)
	</insert>

	<select id="checkSubmit" resultType="int">
		SELECT COUNT(*)
		FROM contest_user
		WHERE create_user = #{create_user}
		AND admin_contest_idx = #{admin_contest_idx}
		AND del_chk = 'N'
	</select>

	<select id="getUserContest"
		resultType="egovframework.com.contest.vo.ContestVo">
		SELECT user_contest_idx,
		admin_contest_idx,
		title,
		content
		FROM contest_user
		WHERE create_user = #{create_user}
		AND admin_contest_idx = #{admin_contest_idx}
		AND del_chk = 'N'
	</select>

	<update id="updateUserContest">
		UPDATE contest_user
		SET title = #{title}, update_user = #{update_user}, update_date =
		sysdate()
		WHERE user_contest_idx = #{user_contest_idx}
	</update>

	<update id="userContestFileDelete">
		UPDATE daul.contest_user_attach
		SET del_chk = 'Y'
		WHERE save_file_name = #{save_file_name}
		AND del_chk != 'Y'
	</update>

	<select id="getUserContestList"	resultType="egovframework.com.contest.vo.ContestVo">
		SELECT *
		FROM(
		SELECT  @rownum:=@rownum+1 as num ,
		        a.create_user,
				a.title, 
				DATE_FORMAT( a.create_date, '%Y-%m-%d %H:%i:%s') AS create_date,
		        CONCAT(substring(b.name,1,1),'oo') AS user_name
		FROM contest_user a
		LEFT JOIN user b
		ON a.create_user = b.user_id
		, (SELECT @rownum:=0) TMP
		WHERE admin_contest_idx = #{admin_contest_idx}
		ORDER BY create_date ASC
		) sub 
		ORDER BY sub.num DESC
		LIMIT #{startIndex},#{pageSize}
	</select>

	<select id="getUserContestListCnt" resultType="int">
		SELECT COUNT(*)
		FROM contest_user a
		LEFT JOIN user b
		ON a.create_user = b.user_id
		WHERE admin_contest_idx = #{admin_contest_idx}
	</select>

	<select id="getContestNoticeList" resultType="egovframework.com.notice.vo.NoticeVo">
		SELECT * 
		FROM(
			SELECT  @rownum:=@rownum+1 					AS num
					,a.notice_idx
					,a.title
					,a.content
					,a.notice_type
					,a.view_count
					,a.create_user
					, DATE_FORMAT(a.create_date, '%Y-%m-%d %H:%i:%s') AS create_date
					,b.name
			FROM daul.daul_notice a
			LEFT JOIN daul.user b
			ON a.create_user = b.user_id
			  , (SELECT @rownum:=0) TMP
			WHERE a.del_chk = 'N'
			AND a.notice_type='contest'
			<if
				test="@egovframework.com.cmmn.util.StringUtil@equals(search_type, 'title')">
				AND a.title like concat('%', #{search}, '%')
			</if>
			<if
				test="@egovframework.com.cmmn.util.StringUtil@equals(search_type, 'content')">
				AND a.content like concat('%', #{search}, '%')
			</if>
			<if
				test="@egovframework.com.cmmn.util.StringUtil@equals(search_type, 'create_user')">
				AND b.name like concat('%', #{search}, '%')
			</if>
			ORDER BY create_date ASC
		) sub
		ORDER BY sub.num DESC
	</select>

	<select id="getContestNoticeDetail"	resultType="egovframework.com.notice.vo.NoticeVo">
		SELECT a.notice_idx
		,a.title
		,a.content
		,a.notice_type
		,a.view_count
		,a.create_user
		, DATE_FORMAT(a.create_date, '%Y-%m-%d %H:%i:%s:%s') AS create_date
		,b.name
		FROM daul.daul_notice a
		LEFT JOIN daul.user b
		ON a.create_user = b.user_id
		WHERE del_chk = 'N'
		AND notice_idx=#{notice_idx}
	</select>

	<update id="increaseViewCount">
		UPDATE daul.daul_notice
		SET view_count = view_count + 1
		WHERE notice_idx = #{notice_idx}
	</update>

	<select id="getContestNoticeListCnt" resultType="int">
		SELECT COUNT(*)
		FROM daul.daul_notice a
		LEFT JOIN daul.user b
		ON a.create_user = b.user_id
		WHERE a.del_chk = 'N'
		AND a.notice_type='contest'
		<if
			test="@egovframework.com.cmmn.util.StringUtil@equals(search_type, 'title')">
			AND a.title like concat('%', #{search}, '%')
		</if>
		<if
			test="@egovframework.com.cmmn.util.StringUtil@equals(search_type, 'content')">
			AND a.content like concat('%', #{search}, '%')
		</if>
		<if
			test="@egovframework.com.cmmn.util.StringUtil@equals(search_type, 'create_user')">
			AND b.name like concat('%', #{search}, '%')
		</if>
	</select>

	<select id="getContestNoticeFile" resultType="Map">
		SELECT
		notice_idx,
		org_file_name,
		save_file_name,
		attach_type,
		ROUND(file_size/1024,1) AS file_size
		FROM daul.daul_notice_attach
		WHERE notice_idx =
		#{notice_idx}
		AND del_chk = 'N'
	</select>

	<select id="getBeforeNotice"
		resultType="egovframework.com.notice.vo.NoticeVo">
		SELECT *
		FROM daul_notice
		WHERE del_chk = 'N'
		AND notice_type='contest'
		 <![CDATA[
		   AND notice_idx > #{notice_idx}
		 ]]>
		ORDER BY notice_idx
		LIMIT 0 , 1;
	</select>

	<select id="getAfterNotice"
		resultType="egovframework.com.notice.vo.NoticeVo">
		SELECT *
		FROM daul_notice
		WHERE del_chk = 'N'
		AND notice_type='contest'
		 <![CDATA[
		   AND notice_idx < #{notice_idx}
		 ]]>
		ORDER BY notice_idx desc
		LIMIT 0 , 1;
	</select>

	<select id="selectDownloadContestNoticeFile"
		resultType="egovframework.com.cmmn.util.FileVo">
		SELECT
		ORG_FILE_NAME,
		SAVE_FILE_NAME
		FROM daul.daul_notice_attach
		WHERE save_file_name = #{idx}
	</select>

	<select id="selectImageFile" resultType="hashmap">
		SELECT *
		FROM daul.contest_admin_attach
		WHERE admin_contest_idx = #{admin_contest_idx}
		AND attach_type = 'repFile'
	</select>


</mapper>