<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="egovframework.com.faq.mapper.FaqMapper">
	<select id="getFaqListMain" resultType="egovframework.com.faq.vo.FaqVo">
		SELECT question, answer
		  FROM daul_faq
		 WHERE del_chk = 'N'
		   AND type = 'main'
	</select>
	
	<select id="getFaqListContest" resultType="egovframework.com.faq.vo.FaqVo">
		SELECT question, answer
		  FROM daul_faq
		 WHERE del_chk = 'N'
		   AND type = 'contest'
	</select>
	
	<select id="getFaqListSurvey" resultType="egovframework.com.faq.vo.FaqVo">
		SELECT question, answer
		  FROM daul_faq
		 WHERE del_chk = 'N'
		   AND type = 'survey'
	</select>
	
	<select id="getFaqListSuggestion" resultType="egovframework.com.faq.vo.FaqVo">
		SELECT question, answer
		  FROM daul_faq
		 WHERE del_chk = 'N'
		   AND type = 'suggestion'
	</select>
</mapper>