<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="egovframework.com.qna.mapper.QnaMapper">
	<sql id="whereByQna">
		<if test="@egovframework.com.cmmn.util.StringUtil@equals(search_type, 'title')">
		AND q.question LIKE CONCAT('%', #{search}, '%')
		</if>
		<if test="@egovframework.com.cmmn.util.StringUtil@equals(search_type, 'create_user')">
		AND u.name LIKE CONCAT('%', #{search}, '%')
		</if>
	</sql>
	<select id="getQnaList" resultType="egovframework.com.qna.vo.QnaVo">
		SELECT *
		  FROM (
		  		SELECT @rownum:=@rownum+1	AS num
		  		     , q.qna_idx
		  		     , q.question
		  		     , q.content
		  		     , q.ref
		  		     , q.view_count
		  		     , q.create_user
		  		     , q.parent_qna_idx
		  		     , DATE_FORMAT(q.create_date, '%Y-%m-%d %H:%i:%s')	AS create_date
		  		     , q.del_chk
		  		     , q.lock_chk
		  		     , u.auth_type
		  		     , u.name
		  		     , auth_user
		  		  FROM daul.daul_qna q
		  		  LEFT JOIN daul.user u ON u.user_id = q.create_user
		  		     , (SELECT @rownum:=0) TMP
		  		 WHERE q.del_chk != 'Y'
		  		 <include refid="whereByQna"/>
		  		 ORDER BY ref ASC
		  		     , indent DESC
		  		     , create_date ASC
		  	   ) q
		 ORDER BY q.num DESC
		 LIMIT #{startIndex},#{pageSize}
	</select>
	
	
	<select id="getQnaListCnt" resultType="int">
		SELECT COUNT(*)
		  FROM daul.daul_qna q
		  LEFT JOIN daul.user u ON q.create_user = u.user_id 
		 WHERE q.del_chk = 'N'
		 <include refid="whereByQna"/>
	</select>
	
	<insert id = "qnaRegist">
		INSERT INTO daul.daul_qna
		(
			qna_idx,
			question,
			content,
			ref,
			indent,
			create_user,
			create_date,
			del_chk,
			lock_chk,
			auth_user
		)
		VALUES
		(
			#{qna_idx},
			#{question},
			#{content},
			#{qna_idx},
			0,
			#{create_user},
			sysdate(),
			'N',
			#{lock_chk},
			#{auth_user}
		) 
	</insert>
	
		
	<select id="selectQnaIdx" resultType="String">
		SELECT CONCAT('QNA-',LPAD(count(*)+1,'6','0')) as 'qna_idx'
		FROM daul_qna 
	</select>
	
	<update id = "increaseViewCount">
		UPDATE daul.daul_qna
		   SET view_count = view_count + 1
		 WHERE qna_idx = #{qna_idx}
	</update>
	
	<select id="getQnaDetail" resultType="egovframework.com.qna.vo.QnaVo">
		   SELECT  a.qna_idx
		       ,a.question
		       ,a.content
		       ,a.view_count
		       ,a.create_user
		       , DATE_FORMAT(a.create_date, '%Y-%m-%d %H:%i:%s') 		AS create_date
		       ,b.name 
		       ,a.lock_chk
		  FROM daul.daul_qna a
		  LEFT JOIN daul.user b
		  ON a.create_user = b.user_id 
		 WHERE del_chk = 'N' 
		   AND qna_idx=#{qna_idx}
	</select>
	
	<select id="getBeforeQna" resultType="egovframework.com.qna.vo.QnaVo">
		 	SELECT  *
			FROM daul.daul_qna, (SELECT @rownum:=0) TMP
			WHERE del_chk = 'N'
			  AND parent_qna_idx is null
              <![CDATA[
		      AND qna_idx > #{qna_idx}
	     	 ]]>
	   			ORDER BY ref ASC, indent desc, create_date asc 
	        LIMIT 0 , 1;
	</select>
	
	<select id="getAfterQna" resultType="egovframework.com.qna.vo.QnaVo">
	 	SELECT  *
			FROM daul.daul_qna, (SELECT @rownum:=0) TMP
			WHERE del_chk = 'N'
			  AND parent_qna_idx is null
              <![CDATA[
		      AND qna_idx < #{qna_idx}
	     	 ]]>
	   			ORDER BY ref DESC, indent desc, create_date asc 
	        LIMIT 0 , 1;
	</select>
	
	<select id="getCreateUser" resultType="String">
		SELECT create_user
		  FROM daul_qna
		 WHERE qna_idx = #{qna_idx}
	</select>
	
	<update id="qnaDelete">
		UPDATE daul.daul_qna SET del_chk = 'Y' 
		 WHERE ref = #{qna_idx}
	</update>
	
	<update id="qnaUpdate">
		UPDATE daul.daul_qna
		   SET question = #{question}
		      ,content = #{content}
		      ,update_user = #{update_user}
		      ,update_date = sysdate()
		      ,lock_chk = #{lock_chk}
		WHERE qna_idx = #{qna_idx}
	</update>
</mapper>