<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="egovframework.com.login.mapper.LoginMapper">
	
	<select id="selectUser" resultType="egovframework.com.user.vo.UserVo">
		SELECT user_id
		     , name
		     , pw
		     , email
		     , phone
		     , channel
		     , reg_date
		     , last_login_date
		     , email_chk
		     , talk_chk
		     , sms_chk
		     , auth_type
		     , user_key
		  FROM daul.user
		 WHERE user_id = #{user_id}
	</select>
	
	<update id="setLastLogin">
		UPDATE user 
		   SET last_login_date = sysdate()
		 WHERE user_id = #{user_id}
	</update>
	
	<select id="selectKakaoUser" resultType="egovframework.com.user.vo.UserVo">
		SELECT user_id
		     , name
		     , pw
		     , email
		     , phone
		     , channel
		     , reg_date
		     , last_login_date
		     , email_chk
		     , talk_chk
		     , sms_chk
		     , auth_type
		     , user_key
		  FROM daul.user
		 WHERE kakaochannel_key = #{userKakao_key}
	</select>
	
	<select id="selectKakaoUserForLogin" resultType="egovframework.com.user.vo.UserVo">
		SELECT user_id
		     , name
		     , pw
		     , email
		     , phone
		     , channel
		     , reg_date
		     , last_login_date
		     , email_chk
		     , talk_chk
		     , sms_chk
		     , auth_type
		      , user_key
		  FROM daul.user
		 WHERE kakao_key = #{kakao_key}
		   AND phone = #{phone}
	</select>
	
	<select id="getLoginHistory" resultType="String">
		SELECT count(*) 
		  FROM user_mileage
		 WHERE action_id = 'LOGIN01'
		   AND user_id = #{phone}
		   AND DATE_FORMAT(reg_date,'%Y%m%d') = DATE_FORMAT(SYSDATE() ,'%Y%m%d')
	</select>
</mapper>